<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Thurm</string>
	<key>CFBundleIdentifier</key>
	<string>com.thurm.terminal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Thurm</string>
	<key>CFBundleDisplayName</key>
	<string>Thurm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
	<key>NSAppleEventsUsageDescription</key>
	<string>A program running in Thurm wants to control another app.</string>
	<key>NSCameraUsageDescription</key>
	<string>A program running in Thurm wants to use the camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>A program running in Thurm wants to use the microphone.</string>
	<key>NSLocationUsageDescription</key>
	<string>A program running in Thurm wants to use your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>A program running in Thurm wants to use your location.</string>
	<key>NSContactsUsageDescription</key>
	<string>A program running in Thurm wants to access your contacts.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>A program running in Thurm wants to access your calendars.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>A program running in Thurm wants to access your calendars.</string>
	<key>NSRemindersUsageDescription</key>
	<string>A program running in Thurm wants to access your reminders.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>A program running in Thurm wants to access your reminders.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A program running in Thurm wants to access your photos.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Nikola Milojević. Licensed under the Apache License 2.0.</string>
</dict>
</plist>
